.gfield--type-lookup{
  position: relative;
}

.gfield--type-lookup .lf-tooltip{
  display: none;
  position:absolute;
  width:100%;
  z-index: 1;
  top:100%;
  left:0;
  box-shadow: 5px 5px 12px rgba(0,0,0,.2);
}

.gfield--type-lookup .lf-tooltip.is-visible{
  display: block
}

.gfield--type-lookup ul{
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 3px 3px 5px rgba(0,0,0,.1);
  background: #fff;
  border-radius: 5px;
  font-size: .8125em;
}

@media all and (min-width: 768px){
  .gfield--type-lookup ul{
    font-size: .9325em;
  }
}

.gfield--type-lookup li{
  color: #333;
  padding: .6875em 1em;
  font-size: .9325em;
  gap: 1em;
  border-bottom: 1px solid #f3f3f3;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.15;
}

@media all and (min-width: 768px){
  .gfield--type-lookup li{
    padding: .75em 1.25em;
    line-height: 1.5;
  }
}

.gfield--type-lookup li:last-child{
  border-bottom: 0;
}

.gfield--type-lookup li:hover,
.gfield--type-lookup li.lf-has-focus{
  background: linear-gradient(100deg, rgb(138, 62, 240), rgb(154, 51, 225) );
  color: #fff;
}

.gfield--type-lookup .lf-address{
  text-transform: lowercase;
  color: #555;
}

.gfield--type-lookup li:hover .lf-address,
.gfield--type-lookup li.lf-has-focus .lf-address{
  color: #fff;
}